/.dart_tool/
/build/
/pubspec.lock
example/.dart_tool/
example/.idea/
example/android/.gradle/
example/.flutter-plugins-dependencies
example/build
example/android/build/
*.jks
*.keystore
example/android/key.properties
